@media only screen and (min-width: 769px) {

  /* OCULTA DETALHES EXCLUSIVOS DO MOBILE E EXIBE DO DESKTOP  */
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .toggle-theme {
    display: none;
  }

  /* PRELOADER ================**/
  #preloader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: contain;
    background-color: #232618;
    z-index: 2;
  }

  #preloader span img.center {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 24%;
    height: auto;
    /* padding: 0rem; */
  }

  #preloader span img.border {
    position: absolute;
    padding: 0;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 24%;
    height: auto;
  }

  #preloader .hidden span img.center,
  #preloader .hidden span img.border,
  #preloader.hidden {
    display: none;
    z-index: -3;
  }

  body::-webkit-scrollbar,
  .container::-webkit-scrollbar,
  .container main::-webkit-scrollbar {
    width: 0.01rem;
    background: #fff;
  }


  /* HEADER ================**/
  #menu {
    display: block;
    z-index: 1;
    color: var(--txt-header);
    height: 0;
  }

  div#title::before {
    content: " ";
    width: auto;
    height: 16rem;
    background: var(--bg-header);
    box-shadow: var(--shadow5);

    position: fixed;
    right: 1rem;
    z-index: -2;

    left: 1rem;
  }

  #menu #title {
    position: fixed;
    z-index: -3;
    top: 0;

    width: 100vw;
    height: 16rem;
    margin-top: 0rem;
    padding: 0rem;

    text-align: center;
    overflow: hidden;
    background-image: url("../_img/bgs-logo/bg-header.png");
  }

  #title h1#loteamento {
    background-color: var(--bg-title-menu);
    box-shadow: var(--shadow4);

    font-family: var(--font-title-h1);
    font-size: 2rem;
    color: var(--font-title-h1);

    position: relative;
    top: 11rem;
    left: 1rem;

    display: block;
    text-align: left;

    width: 75%;
    height: 4.25rem;
    padding: 1rem 0 0 1rem;
    margin: 0rem 0 0 1rem;
    overflow: hidden;
    /* flex-direction: row;*/
  }

  #menu h2#area {
    position: relative;
    top: 4rem;
    left: 1rem;
    z-index: 2;

    background-color: var(--bg-title-menu);
    font-size: 1.4rem;
    width: max-content;

    padding: 0.6rem 1rem 0.4rem;
    margin: 0rem 0 0 1rem;
    box-shadow: var(--shadow6);
  }

  /* NAV MENU ================*/
  /* NAV MENU ================*/
  #menu ul#buttons {
    display: flex;
    flex-direction: row;
    gap: 0 1rem;

    padding: 0 0rem 0 2rem;
    margin: 1.1rem 0 0 0rem;
    height: auto;

    position: fixed;
    top: -0.5rem;
    z-index: 1;
  }

  #menu ul#buttons li {
    background: var(--bg-title-menu-solid);
    background-color: var(--bg-title-menu);
    height: 1.4rem;
    width: 4.6rem;

    overflow: hidden;
    transition: .15s;
  }

  #menu ul#buttons li:hover {
    height: 7.2rem;
    background: none;
    width: 5rem;
  }

  /* sem hover */
  #menu ul#buttons li a {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem 0 0;
    height: 0.5rem;
    margin: 0 0.25rem;

    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;

    transition: .4s;
  }

  /* com hover */
  #menu ul#buttons li a:hover {
    background: var(--bg-frame-menu);
    box-shadow: var(--shadow7);

    position: relative;
    top: -0.5rem;
    left: -0.6rem;

    width: max-content;
    height: 7rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;

    border: solid 0.1rem #fff;
    border-image: linear-gradient(to top, rgba(255, 255, 255, 0.749), rgba(227, 185, 123, 0.631)) 0.5;
    color: var(--txt-title);
  }

  /* sem hover */
  #menu ul#buttons li a p {
    position: fixed;
    top: .6rem;

    color: var(--txt-header);
    font-size: 1rem;
    font-family: var(--font-title-h1);
    font-weight: 500;
    text-shadow: var(--shadow2);

    padding: 0 0.5rem 0;
    overflow: hidden;
    transition: .4s;
  }

  /* com hover */
  #menu ul#buttons li a p:hover {
    position: fixed;
    top: .6rem;

    padding: 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-title);
    text-shadow: var(--shadow1);
    overflow: hidden;
    background: none;
  }

  /* COLOR MODE ================*/
  /* COLOR MODE ================*/
  #button-mode-desktop {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 1rem 2rem 0 0;

    cursor: pointer;
    transition: .4s;

    position: fixed;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }

  #button-mode-desktop:hover {
    filter: brightness(1.2);
    transform: scale(1.125);
  }

  #moon-theme,
  #moon-theme {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  #button-mode-desktop img {
    width: 4rem;
    border: dashed #ffffff4f 0.125rem;
    border-radius: 40px;
    position: fixed;
  }

  .switch {
    opacity: 0;
  }

  /* logo header */
  div#logo {
    position: absolute;
    top: 4.25rem;
    right: 16%;
    margin: 0;
    /* overflow: hidden;*/
  }

  .text-out {
    overflow: hidden;
  }

  #logo .text-out img {
    height: 12rem;
    position: relative;
    z-index: 2;
    animation: rotate 8s infinite ease-in-out;
  }

  #logo .front-text img,
  #logo .front-map img {
    height: 8rem;
    top: 2rem;
    right: 2rem;
    position: absolute;
    z-index: 2;
  }

  #logo img.text-out {
    height: 8rem;
  }

  #logo .front-text img {
    animation: change 4s infinite ease-in-out;
  }

  /* ================================*/


  /* CONTAINER MAIN ================*/
  /* CONTAINER MAIN ================*/
  .container {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    padding: 1rem;

    position: relative;
    top: 16rem;

    background-image: url(../_img/bgs-logo/bg-solo-desk.png);
    background-size: contain;
    height: 100vh;
  }


  /*faz algo? v*/
  .container main {
    position: relative;
    top: 0rem;
    left: 0rem;
    z-index: 0;
    height: max-content;
    width: auto;
    margin: 0;
  }

  main#content-area {
    padding-bottom: 0;
  }

  .container section {
    background-color: var(--bg-section);
    box-shadow: var(--shadow3);

    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1rem;
  }

  .container section p {
    font-size: 1.1rem;
  }

  .container h1 {
    font-size: 1.4rem;
    box-shadow: var(--shadow3);
    padding: 0.3rem;
  }

  /* NAV ASIDE ================*/
  /* NAV ASIDE ================*/
  .container aside {
    position: relative;
    top: 0;
    right: 0rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;

    background-color: var(--bg-section-solid);
    box-shadow: var(--shadow3);
    height: max-content;
    width: auto;

    overflow: hidden;
  }

  .container aside::before {
    content: ' ';
    width: auto;
    height: 100%;
    background-color: var(--bg-frame-section);

    position: absolute;
    z-index: 0;
    top: 0;
    right: 0rem;
    left: 0rem;
    bottom: 0;

    padding: 0;
    margin: 0;
  }

  aside a {
    text-decoration: none;
  }

  /* ASIDE HEADER */
  .container aside header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 1rem 1rem;
    overflow: hidden;
  }

  .container aside header .page {
    position: relative;
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .container aside header .page img {
    position: relative;
    height: auto;
    width: 16rem;
  }

  /* ASIDE MAIN */
  .container aside main {
    position: relative;
    top: 0;
    right: 0;
    left: 0;

    height: max-content;
    width: auto;
    margin: 0 1rem;
    overflow: hidden;

    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .container aside main p {
    display: block;
    color: var(--txt-p);
    font-size: 1rem;
    font-family: var(--font-link);
  }

  aside .social-media::before {
    content: 'SOCIAL MEDIA';
    TEXT-DECORATION: underline;
    font-size: 1rem;
    font-family: var(--font-title-section);
    top: 0;
    position: absolute;
    margin: 0 auto;
  }

  aside .social-media {
    position: relative;
    right: 0rem;
    left: 0rem;
    top: 0rem;

    /* background-color: #265; */
    overflow: hidden;
    height: max-content;
    width: auto;
    margin: 0;

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    padding: 2.5rem 0rem 1rem;
    justify-items: center;
    gap: 1rem;
  }

  aside .social-media li {
    width: auto;
    position: relative;
    top: 0rem;
    overflow: hidden;
    transition: .15s;
  }

  aside .social-media li:hover,
  .container ul#docs-notion li:hover {
    z-index: 1;
    background: rgb(255 255 255 / 50%);
    border-radius: 0.4rem;
    padding: 0.5rem;
    transform: translateY(-1rem);
    width: max-content;
    margin-bottom: -1rem;
    justify-self: center;
  }

  aside .social-media li img {
    margin: 0;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow5);
  }

  aside .social-media li img:hover,
  .container aside ul#docs-notion img:hover {
    filter: brightness(1.2);
  }


  /* LINKS UTEIS */
  aside ul#docs-notion::before {
    content: "LINKS ÚTEIS";
    background: none;
    box-shadow: none;

    text-decoration: underline;
    font-size: 1rem;
    font-family: var(--font-title-section);
    position: absolute;
    top: 0rem;
    margin: 0 auto;
    font-family: var(--font-title-section);

  }

  .container aside ul#docs-notion {
    position: relative;
    top: 0rem;
    right: 0rem;
    left: 0rem;

    /* background-color: #252; */
    background: none;
    box-shadow: none;
    width: auto;
    height: max-content;
    overflow: hidden;
    margin: 1rem 0 0;
    padding: 2.5rem 0 .5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  container ul#docs-notion::after {
    content: "Links úteis";
    /* background: #9da693; */
    height: 8rem;
    position: relative;
    width: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0.2rem 0 0;
  }

  .container ul#docs-notion li {
    top: 0rem;
    position: relative;
    transition: .15s;
  }

  .container ul#docs-notion li a {
    padding-bottom: 0;
  }

  .container aside ul#docs-notion img {
    width: 2rem;
    margin: 0;
  }

  .container ul#docs-notion li a,
  .container ul#docs-notion li a abbr,
  .container ul#docs-notion li a abbr p {
    font-size: 1rem;
  }


  /* ASIDE FOOTER */
  /* FOOTER ================*/
  aside footer {
    position: relative;
    top: 0;
    right: 0;
    left: 0;

    /* background: #7ff; */
    height: max-content;
    width: auto;
    padding: 0;
    margin: 0 1rem;

    overflow: hidden;
  }

  aside footer a {
    padding: 0;
  }

  aside footer p {
    font-size: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    color: var(--txt-p);
  }

  aside footer img {
    height: 2.5rem;
    margin: 0.5rem 0 0;
    width: auto;
  }

  aside abbr {
    height: max-content;
    transition: .2s;
    text-decoration: none;
  }

  abbr:hover {
    filter: brightness(1.25);
  }

  /************* keyframes *************/
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes change {
    0% {
      z-index: 0;
    }

    50% {
      z-index: 2;
    }

    100% {
      z-index: 1;
    }
  }
}