/* === MOBILE ===*/
/* OCULTA DETALHES EXCLUSIVOS DO DESKTOP */
.desktop {
  display: none;
}

/*////////////////// CORES //////////////////*/
:root {
  /* Set header */
  --bg-title-menu-solid: rgb(40, 54, 21);
  --bg-title-menu: rgba(40, 54, 21, .8);

  --bg-header-solid: rgb(113, 133, 55);
  --bg-header: rgba(113, 133, 55, 0.388);
  --bg-img-header: url("../_img/bgs-logo/bg-header.png");

  /* Set frames */
  --bg-frame-solid: rgb(137, 149, 102);
  --bg-frame-menu: rgba(255, 255, 255, 0.251);
  /**repetido /
  --bg-frame-section: rgba(119, 110, 21, 0.29);

  /* Set container */
  --bg-container-solid: rgba(15, 66, 25, 0.8);
  --bg-img-container: url("../_img/bgs-logo/bg-header.png");

  --bg-section-solid: rgb(218, 218, 218);
  --bg-section: rgba(255, 255, 255, .8);

  /* Set mobile */
  --bg-img-mobile: url("../_img/bgs-logo/bg-header.png");

  --bg-menu-mobile-solid: rgb(15, 66, 25);
  --bg-img-menu-mobile: url("../_img/bgs-logo/bg-header.png");

  /* Set txt */
  --txt-header: rgb(240, 248, 255);
  --txt-p: #000;
  --txt-title: rgb(35, 75, 25);

  --txt-more: rgb(0, 5, 66);
  --txt-more-shadow: ;

  --shadow1: -1px 1px 3px #fff;
  --shadow2: -2px 2px 2px rgb(70 40 9);
  --shadow3: -4px 4px 4px rgba(0 0 0 / 40%);
  --shadow4: -4px 4px 4px rgb(0 0 0 / 80%);
  --shadow5: 0 2px 4px black;
  --shadow6: -4px 0px 4px #000;
  --shadow7: -2px 2px 1px #ffffff69;

  /*Set fonts*/
  --font-title-header: 'Encode Sans SC', sans-serif;
  --font-content-p: 'Poppins', sans-serif;
  --font-title-section: 'Encode Sans SC', sans-serif;
  --font-link: 'Montserrat', sans-serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
  font-family: 'Encode Sans SC', sans-serif;
  /*med 500, bold 700*/
  font-family: 'Montserrat', sans-serif;
  /*reg 400, reg it 400, semib 600, semib it 600*/
  font-family: 'Poppins', sans-serif;
  /*lig 300, lig 300 it, semib 600, semib 600 it*/
}

/*////////////////// PRELOADER //////////////////*/
/* até max 430px */
#preloader .hidden {
  display: none;
  /* visibility: hidden; */
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-color: #3a4315;
  background-image: url("../_img/bgs-logo/bg-solo-start-mobile.png");
  z-index: 1;
}

#preloader span img.border {
  position: absolute;
  width: 100vw;
  padding: 9rem 0;
  z-index: 2;
}

#preloader span img.center {
  position: absolute;
  width: 100vw;
  padding: 12rem 3rem;
  z-index: 3;
}

/*////////////////// HEADER //////////////////*/
/*////////////////// NAVEGAÇÃO //////////////////*/
#button-mode-desktop {
  display: none;
}

.header-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: 4rem;
  box-shadow: var(--shadow3);
}

.header-layer .button-open-menu {
  padding-left: 1rem;
}

/*////////////////// MENU //////////////////*/
/*////////////////// MENU //////////////////*/
#menu {
  background-color: var(--bg-section-solid);
  background-image: url(../_img/bgs-logo/bg-solo-menu-mobile.png);
  background-size: cover;

  position: absolute;
  z-index: 1;
  top: 0;

  width: 100vw;
  box-shadow: var(--shadow3);
}

/* switch*/
span#button-close-menu {
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-align: end;

  font-size: 1.5rem;
  font-weight: 400;
  color: var(--txt-header);
  text-shadow: var(--shadow5);
}

img#button-open-menu {
  margin-left: 1rem;
  position: fixed;
  left: 0rem;
  top: .25rem;
}

/*open menu*/
#menu img#logo-open-menu {
  margin: 1.5rem 0 1rem;
  width: 4.5rem;
  box-shadow: var(--shadow3);
  border-radius: 4rem;
}

#menu #title {
  margin-top: 1rem;
  text-align: center;
  height: 100%;
}

#menu h1,
#menu h2 {
  text-align: center;
  color: var(--txt-header);
  font-family: var(--font-title-header);
  text-shadow: var(--shadow5);
}

#menu h1#loteamento {
  font-size: 1.8rem;
  margin: 0rem 0rem;
}

#menu h2#area {
  font-size: 1.4rem;
  border-bottom: 0.15rem solid var(--txt-header);
  padding: 0.75rem 0rem 2rem;
  margin: 0 1.5rem;
}

#menu ul#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  /* grid-gap: 1rem 1rem; */
  padding: 0rem 1.5rem;
  height: 100%;
  margin: 2rem 0;
  justify-content: space-around;
}

#menu ul#buttons li {
  height: max-content;
  padding: 0.5rem;
}

#menu ul#buttons li a {
  background-color: var(--bg-header);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0 0.3rem;

  text-decoration: none;
  border: 2px solid var(--bg-frame-solid);
  border-image: linear-gradient(to top, var(--bg-frame-solid), var(--bg-frame-menu)) 0.5;
  border-radius: 8px;
  box-shadow: var(--shadow5);
}

#menu ul#buttons li a p {
  color: var(--txt-header);
  text-shadow: var(--shadow6);
}

#menu ul#buttons li a img {
  width: 4rem;
}

button.mode-mobile {
  display: inline;
  margin: 0;
}

/*////////////////// ASIDE //////////////////*/
.hidden {
  opacity: 0;
}

/*////////////////// MAIN //////////////////*/
/*////////////////// CONTAINER //////////////////*/
/*////////////////// CONTAINER //////////////////*/
.container {
  background-color: var(--bg-title-menu);
  background-image: url(../_img/bgs-logo/bg-solo-menu-mobile.png);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover;
  z-index: 0;
  padding-top: 1rem;
}

main#content-area {
  padding-bottom: 3.5rem;
}

/*////////////////// BOX-PREVIEW //////////////////*/
.container section {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  margin: 4rem 1rem -3rem;
  box-shadow: -3px 3px 3px rgb(0 0 0 / 40%);
}

.container h1 {
  background-color: rgba(175, 175, 160, .8);
  box-shadow: -3px 3px 3px rgb(0 0 0 / 40%);

  display: flex;
  justify-content: center;
  margin-top: 0;

  color: var(--bg-title-menu-solid);
  font-family: var(--font-title-header);
  font-weight: 400;
  font-size: 1.25rem;
}

.container section img {
  margin: 1rem;
  box-shadow: -4px 4px 4px rgb(0 0 0 / 40%);
}

.container section p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 0 1rem;
  font-family: var(--font-content-p);
}

.container section a,
.container footer a {
  padding-bottom: 1rem;
  place-self: center;
  color: #070d52;
  text-shadow: 0px 0px 5px #c0ff00f0;
}

/*aside*/
aside {
  text-align: center;
}

main::before {
  content: "";
  background: var(--bg-frame-solid);
  width: 100vw;
  height: 4rem;
  position: fixed;
  z-index: 0;
  top: 0;
}

/* aside .social-media {
  display: inline-flex;
  gap: 2.5rem;
} */
aside .social-media {
  position: fixed;
  top: 0;
  z-index: 2;

  height: max-content;
  background: none;

  display: flex;
  gap: 0.5rem;
  right: 1rem;
  margin: 1rem 0;
}

aside .social-media li {
  width: 2rem;
}

aside .social-media li a {
  height: max-content;
}

aside .social-media a p {
  display: none;
}

.social-media li img {
  height: 1.6rem;
  margin: 0;
  box-shadow: -2px 2px 4px -1px rgb(10 10 10 / 40%);
}

/*////////////////// Links Úteis //////////////////*/
.container ul#docs-notion {
  position: relative;
  z-index: 0;

  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: -3px 3px 3px rgb(0 0 0 / 40%);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5rem 1rem 0.5rem;
  padding: 1.2rem 0;
}

ul#docs-notion::before {
  content: "Links úteis";
  background: var(--bg-header);
  font-size: 1.1rem;
  position: absolute;
  width: auto;
  margin: 0 0rem;
  top: 0;
  left: 0rem;
  right: 0;
  font-family: var(--font-title-section);
  z-index: 1;
  padding: 0.2rem 0;
  box-shadow: var(--shadow6);
}

.container ul#docs-notion li {
  display: inline-block;
  position: relative;
  top: 1.5rem;
}

.container ul#docs-notion li a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: none;
  position: relative;
  bottom: 0rem;
  top: 0rem;
  height: auto;
}

.container section ul#docs-notion li a img {
  box-shadow: none;
  margin: 0 0 .5rem;
}


.container ul#docs-notion li a,
.container ul#docs-notion li a abbr,
.container ul#docs-notion li a abbr p {
  text-decoration: none;
  color: var(--txt-p);
  font-size: 1.2rem;
}

/*////////////////// FOOTER //////////////////*/
/*////////////////// FOOTER //////////////////*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 4rem;
  margin: 1rem 0 -0.5rem;
}

footer p {
  display: inline-block;
  color: var(--txt-p);
  font-size: 1.125rem;
  text-shadow: var(--shadow5);
  margin-bottom: 2rem;
}

/*////////////////// DARK MODE //////////////////*/
/*////////////////// DARK MODE //////////////////*/
/*////////////////// DARK MODE //////////////////*/
/**color: #070d52 referencia pro dark;*/