/* === MOBILE ===*/
/* OCULTA DETALHES EXCLUSIVOS DO DESKTOP */
.desktop {
  display: none;
}

/*////////////////// CORES //////////////////*/
:root {
  --preloader: rgb(58, 67, 21);

  /* Set header */
  --bg-title-menu-solid: rgb(85, 107, 47);
  --bg-title-menu: rgba(40, 54, 21, .8);

  --bg-header-solid: rgb(113, 133, 55);
  --bg-header: rgba(113, 133, 55, 0.388);
  --bg-img-header: url("../_img/bgs-logo/bg-header.png");

  /* Set frames */
  --bg-frame-solid: rgb(137, 149, 102);
  --bg-frame-menu: rgba(255, 255, 255, 0.251);
  --bg-frame-section: rgba(119, 110, 21, 0.29);

  /* Set container */
  --bg-container-solid: rgba(15, 66, 25, 0.8);
  --bg-img-container: url("../_img/bgs-logo/bg-header.png");
  --bg-img-container-mobile: url("../_img/bgs-logo/bg-solo-mobile.png");


  --bg-section-solid: rgb(218, 218, 218);
  --bg-section: rgba(255, 255, 255, .8);
  --bg-section1: rgba(175, 175, 160, .8);
  --bg-section2: rgba(255, 255, 255, 0.6);

  /* Set mobile */
  --bg-menu-mobile: ;
  --bg-mobile-solid: rgb(15, 66, 25);
  --bg-img-mobile: url("../_img/bgs-logo/bg-solo-mobile.png");


  /* Set txt */
  --txt-header: rgb(240, 248, 255);
  --txt-p: rgb(0, 0, 0);
  --txt-title: rgb(35, 50, 10);

  --txt-more: rgb(0, 5, 66);
  --txt-more1: rgb(7, 13, 82);
  --txt-lime-shadow: 0px 0px 5px #c0ff00f0;

  /* Set shadow */
  --shadow1: -1px 1px 3px #fff;
  --shadow2: -2px 2px 2px rgb(70 40 9);
  --shadow3: -4px 4px 4px rgba(0 0 0 / 40%);
  --shadow4: -4px 4px 4px rgb(0 0 0 / 80%);
  --shadow5: 0 2px 4px black;
  --shadow6: -4px 0px 4px #000;
  --shadow7: -2px 2px 1px #ffffff69;

  --shadow8: -3px 3px 3px rgb(0 0 0 / 40%);
  --shadow9: -2px 2px 4px -1px rgb(10 10 10 / 40%);
  --shadow0: ;


  /* Set fonts */
  --font-title-h1: 'Encode Sans SC', sans-serif;
  --font-content-p: 'Poppins', sans-serif;
  --font-link: 'Montserrat', sans-serif;

  /* Test gradient */
  --gradient: linear-gradient(180deg, rgba(137, 149, 102, 1) 0%, rgba(113, 133, 55, 1) 50%, rgba(40, 54, 21, 1) 100%);

  --gradient1: linear-gradient(200deg, rgba(15, 65, 25, 1) 0%, rgba(40, 54, 21, 1) 45%, rgba(113, 133, 55, 1) 100%);

  --gradient2: linear-gradient(30deg, rgba(15, 66, 25, 1) 5%, rgba(40, 54, 21, 1) 50%, rgba(0, 5, 66, 1) 95%);
  /**dark-menu**/
  --gradient3: linear-gradient(15deg, rgba(15, 66, 25, 1) 0%, rgba(35, 75, 75, 1) 45%, rgba(66, 55, 117, 1) 100%);

  --gradient4: linear-gradient(15deg, rgba(254, 255, 108, 1) 0%, rgba(244, 154, 154, 1) 45%, rgba(66, 55, 117, 1) 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
  font-family: 'Encode Sans SC', sans-serif;
  /*med 500, bold 700*/
  font-family: 'Montserrat', sans-serif;
  /*reg 400, reg it 400, semib 600, semib it 600*/
  font-family: 'Poppins', sans-serif;
  /*lig 300, lig 300 it, semib 600, semib 600 it*/
}

/*////////////////// PRELOADER //////////////////*/
/* até max 430px */
#preloader .hidden {
  display: none;
  /* visibility: hidden; */
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-color: var(--preloader);
  background-image: url("../_img/bgs-logo/bg-solo-start-mobile.png");
  z-index: 1;
}

#preloader span img.border {
  position: absolute;
  width: 100vw;
  padding: 9rem 0;
  z-index: 2;
}

#preloader span img.center {
  position: absolute;
  width: 100vw;
  padding: 12rem 3rem;
  z-index: 3;
}

/*////////////////// HEADER //////////////////*/
/*////////////////// NAVEGAÇÃO //////////////////*/
#button-mode-desktop {
  display: none;
}

.header-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: 4rem;
  box-shadow: var(--shadow3);
}

.header-layer .button-open-menu {
  padding-left: 1rem;
}

/*////////////////// MENU //////////////////*/
/*////////////////// MENU //////////////////*/
#menu {
  background: var(--gradient);
  background-size: cover;
  box-shadow: var(--shadow3);

  position: absolute;
  z-index: 1;
  top: 0;

  width: 100vw;
}

/* switch*/
span#button-close-menu {
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-align: end;

  font-size: 1.5rem;
  font-weight: 400;
  color: var(--txt-header);
  text-shadow: var(--shadow5);
}

img#button-open-menu {
  margin-left: 1rem;
  position: fixed;
  left: 0rem;
  top: .25rem;
}

/*open menu*/
#menu img#logo-open-menu {
  margin: 1rem 0 0rem;
  width: 4.5rem;
  box-shadow: var(--shadow3);
  border-radius: 4rem;
}

#menu #title {
  margin-top: 1rem;
  text-align: center;
  height: max-content;
}

#menu h1,
#menu h2 {
  text-align: center;
  color: var(--txt-header);
  font-family: var(--font-title-h1);
  text-shadow: var(--shadow5);
}

#menu h1#loteamento {
  font-size: 1.7rem;
  margin: 0 1rem;
  padding: .5rem 1rem;
}

#menu h2#area {
  font-size: 1.4rem;
  border-bottom: 0.15rem solid var(--txt-header);
  padding: 0.75rem 0rem 1rem;
  margin: 0 1.5rem;
}

#menu ul#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  /* grid-gap: 1rem 1rem; */
  padding: 0rem 1.5rem;
  height: 100%;
  margin: 1rem 0;
  justify-content: space-around;
}

#menu ul#buttons li {
  height: max-content;
  padding: 0.5rem;
}

#menu ul#buttons li a {
  background-color: var(--bg-frame-section);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0 0.3rem;
  text-decoration: none;
  border: 2px solid var(--bg-frame-solid);
  border-image: var(--border1);
  box-shadow: var(--shadow5);
}

#menu ul#buttons li a p {
  color: var(--txt-header);
  text-shadow: var(--shadow6);
}

#menu ul#buttons li a img {
  width: 4rem;
}

button.mode-mobile {
  display: inline;
  margin: 0;
}

/*////////////////// ASIDE //////////////////*/
.hidden {
  display: none;
}

/*////////////////// MAIN //////////////////*/
/*////////////////// CONTAINER //////////////////*/
/*////////////////// CONTAINER //////////////////*/
.container {
  background-color: var(--bg-title-menu);
  background-image: var(--bg-img-container-mobile);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover;
  z-index: 0;
  padding-top: 1rem;
}

main#content-area {
  padding-bottom: 3.5rem;
}

/*////////////////// BOX-PREVIEW //////////////////*/
.container section {
  background-color: var(--bg-section2);
  display: flex;
  flex-direction: column;
  margin: 4rem 1rem -3rem;
  box-shadow: var(--shadow8);
}

.container h1 {
  background-color: var(--bg-section1);
  box-shadow: var(--shadow8);

  display: flex;
  justify-content: center;
  margin-top: 0;

  color: var(--txt-title);
  font-family: var(--font-title-h1);
  font-weight: 400;
  font-size: 1.25rem;
}

.container section img {
  margin: 1rem;
  box-shadow: var(--shadow3);
}

.container section p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 0 1rem;
  font-family: var(--font-content-p);
}

.container section a,
.container footer a {
  padding-bottom: 1rem;
  place-self: center;
  color: var(--txt-more1);
  text-shadow: var(--txt-lime-shadow);
}

/*aside*/
aside {
  text-align: center;
}

main::before {
  content: " ";
  background: var(--bg-frame-solid);
  width: 100vw;
  height: 4rem;
  position: fixed;
  z-index: 0;
  top: 0;
}

/* aside .social-media {
  display: inline-flex;
  gap: 2.5rem;
} */
aside .social-media {
  position: fixed;
  top: 0;
  z-index: 2;

  height: max-content;
  background: none;

  display: flex;
  gap: 0.5rem;
  right: 1rem;
  margin: 1rem 0;
}

aside .social-media li {
  width: 2rem;
}

aside .social-media li a {
  height: max-content;
}

aside .social-media a p {
  display: none;
}

.social-media li img {
  height: 1.6rem;
  margin: 0;
  box-shadow: var(--shadow9);
}

/*////////////////// Links Úteis //////////////////*/
.container ul#docs-notion {
  position: relative;
  z-index: 0;

  overflow: hidden;
  background: var(--bg-section2);
  box-shadow: var(--shadow8);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5rem 1rem 0.5rem;
  padding: 1.2rem 0;
}

ul#docs-notion::before {
  content: "Links úteis";
  background: var(--bg-header);
  font-size: 1.1rem;
  position: absolute;
  width: auto;
  margin: 0 0rem;
  top: 0;
  left: 0rem;
  right: 0;
  font-family: var(--font-title-h1);
  z-index: 1;
  padding: 0.2rem 0;
  box-shadow: var(--shadow6);
}

.container ul#docs-notion li {
  display: inline-block;
  position: relative;
  top: 1.5rem;
}

.container ul#docs-notion li a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: none;
  position: relative;
  bottom: 0rem;
  top: 0rem;
  height: auto;
}

.container section ul#docs-notion li a img {
  box-shadow: none;
  margin: 0 0 .5rem;
}


.container ul#docs-notion li a,
.container ul#docs-notion li a abbr,
.container ul#docs-notion li a abbr p {
  text-decoration: none;
  color: var(--txt-p);
  font-size: 1.2rem;
}

/*////////////////// FOOTER //////////////////*/
/*////////////////// FOOTER //////////////////*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 4rem;
  margin: 1rem 0 -.1rem;
}

footer p {
  display: inline-block;
  color: var(--txt-header);
  font-size: 1.125rem;
  text-shadow: var(--shadow5);
  margin-bottom: 1rem;
}

/*////////////////// DARK MODE //////////////////*/
/*////////////////// DARK MODE //////////////////*/
/*////////////////// DARK MODE //////////////////*/
/**color: #070d52 referencia pro dark;*/

.dark:root {
  /* Set header */
  --bg-title-menu-solid: rgb(9, 19, 48);
  --bg-title-menu: rgba(25, 24, 76, 0.8);

  --bg-header-solid: rgb(146, 110, 51);
  --bg-header: rgba(191, 81, 47, 0.388);

  --gradient: linear-gradient(30deg, rgba(15, 66, 25, 1) 5%, rgba(40, 54, 21, 1) 50%, rgba(0, 5, 66, 1) 95%);
  --bg-frame-solid: rgb(15, 66, 25);

  --bg-frame-section: rgba(8, 22, 37, 0.8);
}