/* === MOBILE ===*/
/* OCULTA DETALHES EXCLUSIVOS DO DESKTOP */
.desktop {
  display: none;
}

/*////////////////// CORES //////////////////*/
:root {
  --bg-h1: #000;
  --bg-header: #000;
  --bg-title: #000;
  --bg-container: #000;
  --tex-title: #000;
  --txt-header: rgb(162, 179, 97);
  --txt-light: #000;
  --txt-dark: #000;
  --shaddow1: -4px 4px 4px rgba(0 0 0 / 40%);
  --shaddow2: 4px -4px 8px solid rgba(0, 0, 0, .4);
  --font-area: 'Encode Sans SC', sans-serif;
  --font-titles-header: 'Snippet', sans-serif;
  --font-content-p: 'Montserrat', sans-serif;
  --font-section-h1: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
  /* font-family: 'Encode Sans SC', sans-serif; */
  /* font-family: 'Snippet', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'PT Sans Caption', sans-serif; */

}

/*////////////////// PRELOADER //////////////////*/
/* até max 430px */
#preloader .hidden {
  display: none;
  /* visibility: hidden; */
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-color: #3a4315;
  background-image: url("../_img/bgs-logo/bg-solo-start-mobile.png");
  z-index: 1;
}

#preloader span img.border {
  position: absolute;
  width: 100vw;
  padding: 9rem 0;
  z-index: 2;
}

#preloader span img.center {
  position: absolute;
  width: 100vw;
  padding: 12rem 3rem;
  z-index: 3;
}

/*////////////////// HEADER //////////////////*/
/*////////////////// NAVEGAÇÃO //////////////////*/
#button-mode-desktop {
  display: none;
}

.header-layer {
  position: fixed;
  width: 100vw;
  height: 4rem;
  background-color: rgba(58, 67, 21, .6);
  box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
  z-index: 0;
}

.header-layer .button-open-menu {
  padding-left: 1rem;
}

/*////////////////// MENU //////////////////*/
/*////////////////// MENU //////////////////*/
#menu {
  background-image: url("../_img/bgs-logo/bg-solo-menu-mobile.png");
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  background-size: cover;
  /* width: 100vw; */
}

/* switch*/
span#button-close-menu {
  text-align: end;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(250, 250, 250, 0.9);
  text-shadow: -1px 2px 4px rgb(0 0 0 / 80%);
}

img#button-open-menu {
  margin-left: 1rem;
  position: fixed;
  left: 0rem;
  top: .25rem;
}

/*open menu*/
#menu img#logo-open-menu {
  padding: 1.5rem 0 1rem;
  width: 4.5rem;
}

#menu #title {
  margin-top: 1rem;
  text-align: center;
  height: 100%;
}

#menu h1,
#menu h2 {
  text-align: center;
  color: #fff;
  font-family: 'Snippet', sans-serif;
  text-shadow: -2px 0px 3px rgb(0 0 0 / 80%);
}

#menu h1#loteamento {
  font-size: 1.3rem;
  margin: 0rem 0rem;
}

#menu h2#area {
  font-size: 1.4rem;
  border-bottom: 0.15rem solid #eee;
  padding: 1rem 0rem 2rem;
  margin: 0 1.5rem;
}

#menu ul#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-gap: 1rem 1rem;
  padding: 0rem 1.5rem;
  height: 100%;
  margin: 2rem 0;
  justify-content: space-around;
}

#menu ul#buttons li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, .3);
  padding: 0.5rem;
  border: 2px solid rgba(255, 255, 255, .8);
  /* border-image: linear-gradient(to top, #ffffffbf, #e3b97ba1) 0.5; */
  box-shadow: -4px 4px 4px rgb(0 0 0 / 40%);
  border-radius: 8px;
}

#menu ul#buttons li a p {
  padding-top: 0.2rem 0 0;
  color: #eee;
  text-shadow: 2px 1px 3px rgb(0 0 0 / 80%);
}

#menu ul#buttons li a img {
  width: 4rem;
}

button.mode-mobile {
  display: inline;
  margin: 0;
}

/*////////////////// ASIDE //////////////////*/
.hidden {
  opacity: 0;
}

/*////////////////// MAIN //////////////////*/
/*////////////////// CONTAINER //////////////////*/
/*////////////////// CONTAINER //////////////////*/
.container {
  background-color: #eee;
  /*escolher uma segunda cor de fundo*/
  background-image: url(../_img/bgs-logo/bg-solo-menu-mobile.png);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 4rem;
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
}

/*////////////////// BOX-PREVIEW //////////////////*/
.container section {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem;
  box-shadow: -3px 3px 3px rgb(0 0 0 / 40%);
}

.container h1 {
  margin-top: 0;
  background-color: rgba(175, 175, 160, .8);
  display: flex;
  justify-content: center;
  box-shadow: -3px 3px 3px rgb(0 0 0 / 40%);

  font-family: Encode Sans SC, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.container section img {
  margin: 1rem;
  box-shadow: -4px 4px 4px rgb(0 0 0 / 40%);
}

.container section p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif
}

.container section a,
.container footer a {
  padding: 1rem;
  place-self: center;
  color: #070d52;
  text-shadow: 0px 0px 5px #c0ff00f0;
}

/*aside*/
aside {
  text-align: center;
}

/* aside .social-media {
  display: inline-flex;
  gap: 2.5rem;
} */
aside .social-media {
  position: fixed;
  display: grid;
  gap: .5rem;
  height: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: none;
  padding: 1rem 0;
  right: 1rem;
  top: 0;
}

aside .social-media li {
  width: 2rem;
}

aside .social-media li a {
  margin: 1rem 0;
  height: 2rem;
}

.social-media li img {
  height: 1.6rem;
  margin: 0;
  box-shadow: -2px 2px 4px -1px rgb(10 10 10 / 40%);
}

/*////////////////// Links Úteis //////////////////*/
.container ul#docs-notion {
  display: flex;
  justify-content: space-evenly;
}

.container ul#docs-notion li {
  display: inline-block;
}

.container ul#docs-notion li a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: none;
}

.container section ul#docs-notion li a img {
  box-shadow: none;
  margin: 0 0 .5rem;
}

/*////////////////// FOOTER //////////////////*/
/*////////////////// FOOTER //////////////////*/
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem 1rem;
}

footer img {
  width: 4rem;
  margin: 1rem 0 0.5rem;
}

footer p {
  display: inline-block;
  color: #002b25;
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-bottom: 4rem;
  text-shadow: 0px 0px 4px #f5deb3;
}

/*////////////////// DARK MODE //////////////////*/
/*////////////////// DARK MODE //////////////////*/
/*////////////////// DARK MODE //////////////////*/
/**color: #070d52 referencia pro dark;*/