:root {
  font-size: 62.5%;
  --bg-container: #eae;
  --main-color: #83895d;
  --main-pair-color: rgba(99, 119, 60, 0.8);
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  list-style: none;
  font-size: 1.5rem;
}

.desktop,
.hidden {
  display: none;
}

body {
  /* background-color: rgb(30, 60, 30); */
  background: url(../_img/bgs-logo/bg-solo-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  /*<- if broken add ': 1fr 1fr 1fr'*/
  grid-template-rows: 0.5fr 4fr 1.5fr;
  gap: .5rem 0rem;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "window window window"
    "footer footer footer";

  position: absolute;
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-auto-flow: row;
  grid-template-areas:
    "openMenu socialMedia";

  background-color: #83895d;
  height: max-content;
  position: relative;
}

.openMenu {
  grid-area: openMenu;
}

.socialMedia {
  grid-area: socialMedia;
}

.window {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  gap: .5rem 0rem;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "utilities";
  grid-area: window;
  height: max-content;
  position: relative;
}

.utilities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0rem 0rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: utilities;
}

.socialMedia img,
.utilities img {
  height: 4rem;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.5fr 0.5fr;
  gap: .5rem 0rem;
  grid-auto-flow: row;
  grid-template-areas:
    "aboutProject"
    "aboutDev"
    "author";
  grid-area: footer;
  position: relative;
}

.aboutDev {
  grid-area: aboutDev;
}

.aboutProject {
  grid-area: aboutProject;
}

.author {
  grid-area: author;
}


/*  <== MENU MOBILE ==>  */
/*  <== MENU MOBILE ==>  */
/*  <== MENU MOBILE ==>  */
.menuMobile {
  position: absolute;
  z-index: 1;

  /* background-color: bisque; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  justify-content: center;

  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 2fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "closeMenu logoArea logoArea"
    "dataArea dataArea dataArea"
    "navButtons navButtons navButtons";
}

.navButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: navButtons;
  position: relative;
}

.closeMenu {
  grid-area: closeMenu;
}

.logoArea {
  grid-area: logoArea;
}

.dataArea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 0rem 0rem;
  grid-auto-flow: row;
  grid-template-areas:
    "numArea"
    "nameArea";
  grid-area: dataArea;
}

.numArea {
  grid-area: numArea;
}

.nameArea {
  grid-area: nameArea;
}