@media only screen and (min-width: 768px) {

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  body {
    background: url(../_img/bgs-logo/bg-solo-desk.png);
    background-size: contain;
  }

  .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "window aside"
      "footer footer";
    top: 0;
  }


  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "buttons"
      "dataArea"
      "dataArea";
    grid-area: header;

    height: 18rem;
    position: relative;
    top: 0;
  }

  .buttonsTop {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "navButtons mode";
    grid-area: buttons;

    position: absolute;
    top: 1rem;
    /* z-index: 1; faz nada?*/
  }

  .mode {
    grid-area: mode;
    top: 0;
    position: fixed;
    right: 1rem;
  }

  .navButtons {
    /* display: grid; =========== redundante*/
    grid-area: navButtons;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    top: 0;
    left: 1rem;
    position: fixed;
  }

  ul#navbuttons img {
    display: none;
  }


  #navbuttons li {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.5) 20%);
    border: 0.15rem solid;
    border-image: linear-gradient(190deg, rgba(255, 255, 255, 1) 0%, rgba(135, 137, 93, 1) 50%, rgba(100, 120, 60) 25%) .5;

    text-align: center;
    padding: 0 0.5rem;

    position: relative;
    top: 0.5rem;
    left: 1.5rem;

    transition: .25s ease-in-out;
  }

  #navbuttons li:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
    box-shadow: -0.02rem 0.025rem 0.25rem rgba(0, 0, 0, 0.5);
  }



  #navbuttons p {
    color: #3A4315;
    transition: .25s ease-in-out;

  }

  #navbuttons p:hover {
    color: #000;
    text-shadow: 0rem 0rem 0rem #fff;
    filter: brightness(0.5);
  }

  .dataArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "numArea numArea logoArea"
      "nameArea nameArea logoArea";
    grid-area: dataArea;

  }

  .logoArea {
    grid-area: logoArea;
  }

  .numArea {
    grid-area: numArea;
  }

  .nameArea {
    grid-area: nameArea;
  }

  .window {
    justify-self: stretch;
    grid-area: window;
  }

  .aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 0.5fr 0.5fr;
    gap: 8px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "imgSelect imgSelect"
      "socialMedia socialMedia"
      "utilities utilities"
      "today today"
      "onlyViews onlyViews";
    grid-area: aside;

    background-color: var(--bg-container);
    margin: auto;
    padding: 1rem;
  }

  .imgSelect {
    grid-area: imgSelect;
  }

  .socialMedia {
    grid-area: socialMedia;
  }

  .utilities {
    grid-area: utilities;
  }

  .today {
    grid-area: today;
  }

  .onlyViews {
    grid-area: onlyViews;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aboutProject aboutDev"
      "author author";
    grid-area: footer;
  }

  .author {
    grid-area: author;
  }

  .aboutProject {
    grid-area: aboutProject;
  }

  .aboutDev {
    grid-area: aboutDev;
  }
}